<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.5/phpunit.xsd"
         colors="true"
         verbose="true"
         bootstrap="./Tests/bootstrap.php"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         beStrictAboutResourceUsageDuringSmallTests="true"
>

    <testsuites>
        <testsuite name="PierstovalCharacterManagerBundle test suite">
            <directory suffix="Test.php">Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="KERNEL_CLASS" value="Pierstoval\Bundle\CharacterManagerBundle\Tests\Fixtures\App\TestKernel" />
        <env name="KERNEL_DIR" value="./Tests/Fixtures/App" />
        <env name="SHELL_VERBOSITY" value="-2" />
        <ini name="zend.enable_gc" value="0" />
    </php>

    <filter>
        <whitelist>
            <directory>./Action/</directory>
            <directory>./Controller/</directory>
            <directory>./DependencyInjection/</directory>
            <directory>./Entity/</directory>
            <directory>./Exception/</directory>
            <directory>./Model/</directory>
            <directory>./Registry/</directory>
            <directory>./Resolver/</directory>
            <exclude>
                <directory>./build</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
