<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.1/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         colors="true"
         verbose="true"
         bootstrap="./Tests/bootstrap.php"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         beStrictAboutResourceUsageDuringSmallTests="true"
>

    <testsuites>
        <testsuite name="PierstovalCharacterManagerBundle test suite">
            <directory suffix="Test.php">Tests</directory>
        </testsuite>
    </testsuites>

    <!--
    <logging>
        <log type="coverage-html" target="build/logs/report" lowUpperBound="35" highLowerBound="70" />
        <log type="coverage-clover" target="build/logs/clover.xml" />
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true" />
    </logging>
    -->

    <php>
        <env name="KERNEL_CLASS" value="Pierstoval\Bundle\CharacterManagerBundle\Tests\Fixtures\App\TestKernel" />
        <env name="KERNEL_DIR" value="./Tests/Fixtures/App" />
        <env name="SHELL_VERBOSITY" value="-2" />
        <ini name="zend.enable_gc" value="0" />
    </php>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true" addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./Action</directory>
            <directory suffix=".php">./Controller</directory>
            <directory suffix=".php">./Model</directory>
            <directory suffix=".php">./DependencyInjection</directory>
            <directory suffix=".php">./Resolver</directory>
            <directory suffix=".php">./Resources</directory>
            <directory suffix=".php">./SheetsManagers</directory>
            <exclude>
                <directory>./build</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
